p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* アコーディオン */
.accordion-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    background-color: #007dc6;
    color: white;
}

.triangle {
    width: 20px;
    height: calc(tan(60deg) * 20px / 2);
    background-color: #ffee00;
}

.triangle-close {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.triangle-open {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.accordion-answer {
    position: absolute;
    clip-path: circle(1px);
}

.accordion-answer-display {
    position: relative;
    clip-path: none;
    padding: 10px;
    background-color: #dfe6ea;
}

div.question-box:not(:last-child) {
    margin-bottom: 10px;
}

/* タブメニュー */
ul.tab-menu {
    display: flex;
    width: 100%;
}

.tab-menu li {
    width: 100px;
    border-radius: 10px 10px 0 0;
    background-color: #FFF2BF;
    color: #BFC5CA;
    padding: 10px;
}

.tab-menu li.is-active {
    background-color: #fcc800;
    font-weight: bold;
    color: #333333;
    border-bottom: none;
}


div.is-tab-active {
    position: relative;
    clip-path: none;
}

.tab-content {
    position: absolute;
    clip-path: inset(1100px);
    border: 2px solid #333333;
    padding: 10px;
}
